/**
 * Blue: #6885bd; rgb(104,133,189);
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-backface-visibility: hidden;
    backface-visibility: hidden;*/
}

::-moz-selection {
    background: #6885bd;
    color: #FFF;
    text-shadow: none;
}

::selection {
    background: #6885bd;
    color: #FFF;
    text-shadow: none;
}


body {
    font-family: "Montserrat", "Helvetica Neue", "Arial";
    font-size: 25px;
    line-height: 40px;
    background: #e2e2e2;
    color: #6885bd;
    text-transform: uppercase;
}

#main,
#main-behind {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    transform:         rotate(45deg);
}
#main {
    z-index: 10;
    margin-top: -300px;
    margin-left: -300px;
    background: #FFF;
    width: 600px;
    height: 600px;
}
#main-behind {
    z-index: 5;
    margin-top: -314px;
    margin-left: -314px;
    background: #e2e2e2;
    border: 7px solid #FFF;
    width: 628px;
    height: 628px;
}

#inner {
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    transform:         rotate(-45deg);
    width: 600px;
    height: 600px;
    padding: 50px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    text-align: center;
}
#intro,
#result {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#launch {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    font-weight: normal;
    border: 7px solid rgba(104, 133, 189, 0.5);
    color: #6885bd;
    text-decoration: none;
}
#result {
    display: none;
}
#wrapper {
    border-top: 7px solid rgba(104, 133, 189, 0.5);
    border-bottom: 7px solid rgba(104, 133, 189, 0.5);
    padding: 10px;
    line-height: 45px;
    font-size: 35px;
}
#wrapper p {
    margin: 5px 0;
}
#resto {
    font-weight: bold;
}
#reload {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,0.3);
    bottom: -180px;
    right: 220px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
