$fwXLight:                        200;
$fwLight:                         300;
$fwRegular:                       400;
$fwSemiBold:                      600;
$fwBold:                          700;

$baseFontSize:                    15px;
$baseLineHeight:                  25px;
$baseFontFamily:                  "Titillium Web";

$mainColor:                       #64b5bc;
$secondColor:                     #34495e;
$red:                             #c24a4a;

$backgroundColor:                 #EEE;
$textColor:                       #777;
$linkColor:                       $mainColor;
$linkHoverColor:                  darken($mainColor, 8%);
$defaultFontWeight:               $fwLight;


// Grid 
// $gridCols:                        12;
// $gridColumW:                      6.382978723%;
// $gridGutter:                      2.127659574%;
$grid-columns: 										12;
$grid-gutter-width: 							30px;

$headingsFontFamily:              $baseFontFamily;
$headingsFontWeight:              $fwBold;
$headingsColor:                   $mainColor;

$topBarHeight:                    70px;

$mobileNavBtnSize:                40px;

$topMessageHeight:                450px;
$topMessageFontSize:              50px;
$topMessageLineHeight:            $topMessageFontSize*1.4;

$topMessageSmHeight:              350px;
$topMessageSmFontSize:            30px;
$topMessageSmLineHeight:          $topMessageSmFontSize*1.4;


$facebookColor:                   #3b5998;
$twitterColor:                    #00acee;
$githubColor:                     #171515;
$dribbbleColor:                   #ea4c89;
$pinterestColor:                  #c8232c;


$timelineLineBg:                  #BBB;
$timelineLineWidth:               4px;
$timelineLineLeft:                0;
$timelineEventLeft:               60px;
$timelineEventBottom:             50px;
$timelineBulletBgSize:            60px;
$timelineBulletSize:              50px;
$timelineBulletTop:               22px;
$timelineEventAnimation:          15px;

$timelineBulletBgSizeXS:          50px;
$timelineBulletSizeXS:            40px;

$jobColor:                        $mainColor;
$studiesColor:                    $secondColor;

$workMask:                        rgba(74, 142, 194, 0.5);




$border-size: 										15px;
$border-color:           					#FFF;


$work-size:                       274px;
$work-size-xs: 					  230px;
$work-margin: 					  5px;
$work-padding: 					  40px;





// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1030px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

// Small screen / tablet
$container-tablet:            ((720px + $grid-gutter-width));

// Medium screen / desktop
$container-desktop:           ((940px + $grid-gutter-width));

// Large screen / wide desktop
$container-lg-desktop:        ((1140px + $grid-gutter-width));

