#workbox {
	z-index: 1000;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  display: none;
  &.opened {
  	display: block;
  	#workbox-overlay {
			@include opacity(100);
  	}
  	#workbox-container {
			@include opacity(100);
  	}
  }
	#workbox-overlay {
		background: rgba(0,0,0,0.7);
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 1005;
		@include opacity(0);
		@include transition(all 0.2s linear);
	}
	#workbox-container {
	  width: 90%;
	  max-width: 1100px;
	  height: 90%;
	  max-height: 750px;
	  margin: auto;
	  position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;
		z-index: 1010;
		background: #FFF;
		overflow-y: scroll;
		overflow-x: visible;
		@include opacity(0);
		@include transition(all 0.2s linear);
		#workbox-close {
			float: right;
			margin-top: 15px;
			margin-right: 15px;
			color: #BBB;
			i.icon-close {
				font-size: 35px !important;
			}
			&:hover {
				color: $mainColor;
			}
		}
		.workbox-header {
			padding: 30px 30px;
			h1 {
				font-size: 34px;
				font-weight: $fwSemiBold;
			}
			h2 {
				font-size: 20px;
				font-weight: $fwLight;
				color: #BBB;
			}
		}
		.workbox-carousel {
			margin: 0;
		}
		.workbox-footer {
			padding: 10px 30px 30px 30px;
			h5 {
				margin-top: 25px;
			}
			.workbox-keywords {
				@include clearfix();
				li {
					float: left;
					width: 50%;
				}
			}
			.workbox-actions {
				margin-top: 30px;
			}
		}
	}
}